---
vars:
    name:
        label: "Name"
---
package {{ vars("name") }}

import "github.com/mikebarkmin/go-artsy/pkg/art"

type {{ vars("name") }} struct {
	art.Context
}

func ({{ vars("name")[0] }} *{{ vars("name") }}) Render() error {
	return {{ vars("name")[0] }}.Context.Render("{{ vars("name") }}")
}

func New(width int, height int) *{{ vars("name") }} {
	c := art.NewContext(width, height)
	{{ vars("name")[0] }} := &{{ vars("name") }}{*c}
	return {{ vars("name")[0] }}
}
