---
vars:
    title:
        label: Titel des Artikels
    url:
        label: URL des Artikels
icon: "icons/obsidian.png"
file_path_template: ~/Sync/vault-schule/Quellen/Artikel/{{ vars("title") }}.md
---
---
tags: quelle/article, quelle/status/aufgenommen
---

url: {{ vars("url") }}
links: [[]]

# [[Quellen/Artikel/{{ vars("title") }}|{{ vars("title") }}]]
