---
vars:
    name:
        label: Name des Konzepts
icon: "icons/obsidian.png"
file_path_template: ~/Obsidian/Schule/Notizen/{{ vars("name") }}.md
---
---
tags: konzept/saat
---


# [[{{ vars("name") }}]]

## Definition

## Quellen
