---
vars:
    name:
        label: Name der Person
icon: "icons/obsidian.png"
file_path_template: ~/Sync/vault-schule/{{ vars("name") }}.md
---
---
tags: person
---

# [[{{ vars("name") }}]]

## Biografie

## Kontaktinformationen

Email::
Telefon::
Twitter::
GitHub::

## Notizen
