---
vars:
    category:
        label: "Kategory z.B. Gespräch, Leherkonferenz, Fachkonferenz"
    title:
        label: Titel
icon: "icons/obsidian.png"
file_path_template: "~/Sync/vault-schule/{{ date('now', '%Y-%m-%d') }}-{{ vars('category') }}-{{ vars('title') }}.md"
---
---
tags: protokoll
---

links: [[{{ vars("category") }}]]

# [[{{ date("now", "%Y-%m-%d") }}-{{ vars("category") }}-{{ vars("title") }}|{{ vars("title") }}]]

Anwesend: [[Mike Barkmin]]
