---
icon: "icons/obsidian.png"
file_path_template: "~/Obsidian/Schule/Quellen/Tweets/{{ twitter_info(clipboard())['title']|safe_filename }} - {{ twitter_info(clipboard())['author_name'] }}.md"
---
---
tags: quelle/twitter, quelle/status/aufgenommen
---


{%- set t = twitter_info(clipboard()) %}
# [[Quellen/Tweets/{{ t['title']|safe_filename }} - {{ t['author_name'] }}|{{ t['title'] }}]]

Account:: [[Personen/Twitter/{{ t['author_name'] }}|{{ t['author_name'] }}]]

{{ t["html"] }}
