---
vars:
    title:
        label: Title of the article
    url:
        label: URL to the article
icon: "icons/obsidian.png"
file_path_template: ~/Sources/notes/vault/Quellen/Artikel/{{ vars("title") }}.md
---
---
tags: quelle/article, quelle/status/aufgenommen
---

url: {{ vars("url") }}
links: [[]]

# [[Quellen/Artikel/{{ vars("title") }}|{{ vars("title") }}]]