---
icon: "icons/obsidian.png"
file_path_template: ~/Obsidian/Vault/Quellen/Artikel/{{ website_info(clipboard())['title']|safe_filename }}.md
---
---
tags: quelle/artikel, quelle/status/aufgenommen
---

{%- set w = website_info(clipboard()) %}
url: {{ clipboard() }}
links: [[]]

# [[Quellen/Artikel/{{ w['title']|safe_filename }}|{{ w["title"] }}]]
