---
vars:
    name:
        label: Name of the concept    
icon: "icons/obsidian.png"
---
---
created: "{{ date("now", "%Y-%m-%d") }}"
modified: "{{ date("now", "%Y-%m-%d") }}"
---

# {{ vars("name") }}
