---
vars:
    name:
        label: Name of the concept
icon: "icons/obsidian.png"
file_path_template: ~/Sources/vault/{{ vars("name") }}.md
---
---
tags: konzept/saat
---


# [[{{ vars("name") }}]]

## Definition

## Quellen
