---
---
---
tags: log
---

[[Journal/{{ date("1 day ago", "%Y-%m-%d") }}|{{ date("1 day ago", "%Y-%m-%d") }}]] <== <button class="date_button_today">Today</button> ==> [[Journal/{{ date("in 1 day", "%Y-%m-%d") }}|{{ date("in 1 day", "%Y-%m-%d") }}]]

{%- set daily_quote = quote() %}

![Inspirational Image]({{ random_image() }})

> {{ daily_quote.get("quote", "") }} -- [[{{ daily_quote.get("author", "") }}]]

## Tasks

- []

## Communication Log

## Work Log

## Meetings
 
