---
icon: "icons/obsidian.png"
file_path_template: "{%- set o = obsidian('vault') %}{%- set t = mastodon_info(clipboard()) %}{{ o['path'] }}/Quellen/Toots/{{ t['account']['username'] }}-{{ t['created_at'] }}.md"
---
---
tags: quelle/mastodon, quelle/status/aufgenommen
---
{%- set t = mastodon_info(clipboard()) %}
{%- set o = obsidian('vault') %}

Account:: [[Personen/Mastodon/{{ t['account']['username'] }}|{{ t['account']['username'] }}]]
URL:: {{ t["url"] }}

{{ t["content"]|html_to_md }}

{%- for media in t["media_attachments"] %}
  {% if media["url"].endswith(".mp4") -%}
{{ media["url"] }}
  {% else -%}
![{{media["description"]}}]({{ media["url"] }})
  {% endif %}
{% endfor %}
