---
vars:
    name:
        label: Name of the person
icon: "icons/obsidian.png"
file_path_template: ~/Sources/vault/{{ vars("name") }}.md
---
---
tags: person
---

# [[{{ vars("name") }}]]

## Biografie

## Kontaktinformationen

Email::
Telefon::
Twitter::
GitHub::

## Notizen
