---
vars:
    title:
        label: Titel des Tools
    url:
        label: URL des Tools
icon: "icons/obsidian.png"
file_path_template: ~/Obsidian/Vault/Quellen/Tools/{{ vars("title") }}.md
---
---
tags: quelle/tool, quelle/status/aufgenommen
---

url: {{ vars("url") }}
links: [[]]

# [[Quellen/Tools/{{ vars("title") }}|{{ vars("title") }}]]
