---
file_path_template: "~/Sources/notes/vault/Quellen/Videos/{{ youtube_info(clipboard())['title']|safe_filename }} - {{ youtube_info(clipboard())['author_name'] }}.md"
icon: "icons/obsidian.png"
---
---
tags: quelle/youtube, quelle/status/aufgenommen
---


{%- set yt = youtube_info(clipboard()) %}
# [[Quellen/Videos/{{ yt['title']|safe_filename }} - {{ yt['author_name'] }}|{{ yt['title'] }}]]

Channel: [[{{ yt['author_name'] }}]]

![]({{ clipboard() }})
